{% load staticfiles%}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container">
    <form id="join_form" class="form-join">
        <h2>회원가입</h2>
        {{  form.email }}
        <h4 id="email_error" class="error_text"></h4>
        {{  form.username }}
        <h4 id="username_error" class="error_text"></h4>
        {{  form.password }}
        <h4 id="password_error" class="error_text"></h4>
        {{  form.password_check }}
        <h4 id="password_check_error" class="error_text"></h4>
        <input type="button" id="join_btn" class="btn btn-lg btn-primary btn-block" value="Join"/>
        <input type="button" onclick="location.href='/user/login/'" class="btn btn-lg btn-info btn-block" value="Login Page"/>
    </form>
</div>
<script>
    // 회원가입 버튼 클릭
    $('#join_btn').click(function(){
        $.ajax({
            url : "/api/user/join/",
            type : "POST",
            data : $('#join_form').serializeArray(),
            dataType: 'JSON',
            success : function(data) {
                if(data.result) {
                    alert("성공적으로 가입되었습니다."); // 가입 성공 얼럿
                    location.href = "/user/login"; // 성공적으로 가입된 경우 login페이지로 이동
                }
                show_error(data.error); // 가입하는데 에러가 있는 경우
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    // 회원가입 요청에서 에러가 있는 경우 사용자에게 에러 내용 표시
    function show_error(error){
        $('.error_text').empty(); // 기존에 있었던 에러 내용 삭제
        for(key in error) // 에러 내용 표시
            $('#' + key + '_error').text(error[key]);
    }
</script>
</body>
</html>