{% load staticfiles%}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>

<div class="container">
    <form id="login_form" class="form-login">
        <h2>로그인</h2>
        {{ form.email }}
        <h4 id="email_error" class="error_text" ></h4>
        {{ form.password }}
        <h4 id="password_error" class="error_text"></h4>
        <input type="button" id="login_btn" class="btn btn-lg btn-primary btn-block" value="Login"/>
        <input type="button" onclick="location.href='/user/join/'" class="btn btn-lg btn-info btn-block" value="Join Page"/>
    </form>
</div>
<script>
    $('#login_btn').click(function(){
        $.ajax({
            url : "/api/user/login/",
            type : "POST",
            data : $('#login_form').serializeArray(),
            dataType: 'JSON',
            success : function(data) {
                if(data.result) {
                    location.href = "/game/"; // 성공적으로 가입된 경우 login페이지로 이동
                    return true;
                }
                if(data.error) // 사용자가 입력한 내용에서 에러가 있는 경우
                    show_error(data.error);
                else // 아이디와 비밀번호가 일치하지 않는 경우
                    alert("아이디 또는 비밀번호를 다시 한 번 확인해주세요.");
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    // 회원가입 요청에서 에러가 있는 경우 사용자에게 에러 내용 표시
    function show_error(error){
        $('.error_text').empty(); // 기존에 있었던 에러 내용 삭제
        for(key in error) // 에러 내용 표시
            $('#' + key + '_error').text(error[key]);
    }
</script>
</body>
</html>