<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<input type="button" id="logout_btn" value="Logout" />
<input type="button" id="userinfo_btn" onclick="location.href='/user/detail/'" value="Userinfo" />
</body>
<script>
    // 로그아웃 버튼 클릭
    $('#logout_btn').click(function(){
        $.ajax({
            url : "/api/user/logout/",
            type : "POST",
            dataType: 'JSON',
            success : function(data) {
                if(data.result) {
                    alert("로그아웃 되었습니다.");
                    location.href = "/user/login"; // 성공적으로 로그아웃 처리가 되었으면 페이지 이동
                    return true;
                }
                alert("로그아웃 하는데 실패했습니다. 다시 시도해주세요."); // 로그아웃 실패
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

</script>
</html>